In [1]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 8)
pd.set_option('precision', 3)

In [2]:
import pandas.io.data as web
start = datetime.datetime(2012, 1, 1)
end = datetime.datetime(2012, 12, 30)

msft = web.DataReader("MSFT", 'yahoo', start, end)
aapl = web.DataReader("AAPL", 'yahoo', start, end)

/home/andy/anaconda3/lib/python3.5/site-packages/pandas/io/data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [3]:
aapl[:3]

              Open    High     Low   Close    Volume  Adj Close
Date
2012-01-03  409.40  412.50  409.00  411.23  75555200     54.076
2012-01-04  410.00  414.68  409.28  413.44  65005500     54.366
2012-01-05  414.95  418.55  412.67  418.03  67817400     54.970

In [4]:
msft[:3]

             Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03  26.55  26.96  26.39  26.77  64731500     23.608
2012-01-04  26.82  27.47  26.78  27.40  80516100     24.164
2012-01-05  27.38  27.73  27.29  27.68  56081400     24.410

In [5]:
msftA1 = msft['2012-01'][['Adj Close']]
msftA2 = msft['2012-02'][['Adj Close']]

In [6]:
msftA2[:3]

            Adj Close
Date
2012-02-01     26.359
2012-02-02     26.412
2012-02-03     26.668

In [7]:
pd.concat([msftA1.head(3), msftA2.head(3)])

            Adj Close
Date
2012-01-03     23.608
2012-01-04     24.164
2012-01-05     24.410
2012-02-01     26.359
2012-02-02     26.412
2012-02-03     26.668

In [8]:
aaplA1 = aapl['2012-01'][['Adj Close']]
withDups = pd.concat([msftA1[:3], aaplA1[:3]])
withDups

            Adj Close
Date
2012-01-03     23.608
2012-01-04     24.164
2012-01-05     24.410
2012-01-03     54.076
2012-01-04     54.366
2012-01-05     54.970

In [9]:
withDups.ix['2012-01-03']

            Adj Close
Date
2012-01-03     23.608
2012-01-03     54.076

In [10]:
closes = pd.concat([msftA1[:3], aaplA1[:3]], keys=['MSFT', 'AAPL'])
closes

                 Adj Close
     Date
MSFT 2012-01-03     23.608
     2012-01-04     24.164
     2012-01-05     24.410
AAPL 2012-01-03     54.076
     2012-01-04     54.366
     2012-01-05     54.970

In [11]:
closes.ix['MSFT'][:3]

            Adj Close
Date
2012-01-03     23.608
2012-01-04     24.164
2012-01-05     24.410

In [12]:
msftAV = msft[['Adj Close', 'Volume']]
aaplAV = aapl[['Adj Close', 'Volume']]
pd.concat([msftAV, aaplAV])

            Adj Close     Volume
Date
2012-01-03     23.608   64731500
2012-01-04     24.164   80516100
2012-01-05     24.410   56081400
2012-01-06     24.790   99455500
...               ...        ...
2012-12-24     69.009   43938300
2012-12-26     68.057   75609100
2012-12-27     68.331  113780100
2012-12-28     67.605   88569600

[498 rows x 2 columns]

In [13]:
aaplA = aapl[['Adj Close']]
pd.concat([msftAV, aaplA])

            Adj Close     Volume
Date
2012-01-03     23.608  6.473e+07
2012-01-04     24.164  8.052e+07
2012-01-05     24.410  5.608e+07
2012-01-06     24.790  9.946e+07
...               ...        ...
2012-12-24     69.009        NaN
2012-12-26     68.057        NaN
2012-12-27     68.331        NaN
2012-12-28     67.605        NaN

[498 rows x 2 columns]

In [14]:
pd.concat([msftAV, aaplA], join='inner')

            Adj Close
Date
2012-01-03     23.608
2012-01-04     24.164
2012-01-05     24.410
2012-01-06     24.790
...               ...
2012-12-24     69.009
2012-12-26     68.057
2012-12-27     68.331
2012-12-28     67.605

[498 rows x 1 columns]

In [15]:
msftA = msft[['Adj Close']]
closes = pd.concat([msftA, aaplA], axis=1)
closes[:3]

            Adj Close  Adj Close
Date
2012-01-03     23.608     54.076
2012-01-04     24.164     54.366
2012-01-05     24.410     54.970

In [16]:
pd.concat([msftAV[:5], aaplAV[:3]],axis=1,join='inner', keys=['MSFT', 'AAPL'])

                MSFT                AAPL
           Adj Close    Volume Adj Close    Volume
Date
2012-01-03    23.608  64731500    54.076  75555200
2012-01-04    24.164  80516100    54.366  65005500
2012-01-05    24.410  56081400    54.970  67817400

In [17]:
pd.concat([msftA[:3], aaplA[:3]], ignore_index=True)

   Adj Close
0     23.608
1     24.164
2     24.410
3     54.076
4     54.366
5     54.970

In [18]:
msftAR = msftA.reset_index()
msftVR = msft[['Volume']].reset_index()
msftAR[:3]

        Date  Adj Close
0 2012-01-03     23.608
1 2012-01-04     24.164
2 2012-01-05     24.410

In [19]:
msftVR[:3]

        Date    Volume
0 2012-01-03  64731500
1 2012-01-04  80516100
2 2012-01-05  56081400

In [20]:
msftCVR = pd.merge(msftAR, msftVR)
msftCVR[:5]

        Date  Adj Close    Volume
0 2012-01-03     23.608  64731500
1 2012-01-04     24.164  80516100
2 2012-01-05     24.410  56081400
3 2012-01-06     24.790  99455500
4 2012-01-09     24.463  59706800

In [21]:
msftAR0_5 = msftAR[0:5]
msftAR0_5

        Date  Adj Close
0 2012-01-03     23.608
1 2012-01-04     24.164
2 2012-01-05     24.410
3 2012-01-06     24.790
4 2012-01-09     24.463

In [22]:
msftVR2_4 = msftVR[2:4]
msftVR2_4

        Date    Volume
2 2012-01-05  56081400
3 2012-01-06  99455500

In [23]:
pd.merge(msftAR0_5, msftVR2_4)

        Date  Adj Close    Volume
0 2012-01-05      24.41  56081400
1 2012-01-06      24.79  99455500

In [24]:
pd.merge(msftAR0_5, msftVR2_4, how='outer')

        Date  Adj Close     Volume
0 2012-01-03     23.608        NaN
1 2012-01-04     24.164        NaN
2 2012-01-05     24.410  5.608e+07
3 2012-01-06     24.790  9.946e+07
4 2012-01-09     24.463        NaN

In [25]:
msft.insert(0, 'Symbol', 'MSFT')
aapl.insert(0, 'Symbol', 'AAPL')
combined = pd.concat([msft, aapl]).sort_index()
s4p = combined.reset_index()
s4p[:5]

        Date Symbol    Open    High     Low   Close    Volume  Adj Close
0 2012-01-03   MSFT   26.55   26.96   26.39   26.77  64731500     23.608
1 2012-01-03   AAPL  409.40  412.50  409.00  411.23  75555200     54.076
2 2012-01-04   MSFT   26.82   27.47   26.78   27.40  80516100     24.164
3 2012-01-04   AAPL  410.00  414.68  409.28  413.44  65005500     54.366
4 2012-01-05   MSFT   27.38   27.73   27.29   27.68  56081400     24.410

In [26]:
closes = s4p.pivot(index='Date', columns='Symbol', values='Adj Close')
closes[:3]

Symbol        AAPL    MSFT
Date
2012-01-03  54.076  23.608
2012-01-04  54.366  24.164
2012-01-05  54.970  24.410

In [27]:
stackedClose = closes.stack()
stackedClose

Date        Symbol
2012-01-03  AAPL      54.076
            MSFT      23.608
2012-01-04  AAPL      54.366
            MSFT      24.164
                       ...
2012-12-27  AAPL      68.331
            MSFT      24.448
2012-12-28  AAPL      67.605
            MSFT      24.076
dtype: float64

In [28]:
stackedClose.ix['2012-01-03']

Symbol
AAPL    54.076
MSFT    23.608
dtype: float64

In [29]:
stackedClose.ix[:,'AAPL']

Date
2012-01-03    54.076
2012-01-04    54.366
2012-01-05    54.970
2012-01-06    55.545
               ...
2012-12-24    69.009
2012-12-26    68.057
2012-12-27    68.331
2012-12-28    67.605
dtype: float64

In [30]:
unstackedClose = stackedClose.unstack()

In [31]:
unstackedClose[:9]

Symbol        AAPL    MSFT
Date
2012-01-03  54.076  23.608
2012-01-04  54.366  24.164
2012-01-05  54.970  24.410
2012-01-06  55.545  24.790
...            ...     ...
2012-01-10  55.655  24.552
2012-01-11  55.564  24.446
2012-01-12  55.412  24.693
2012-01-13  55.204  24.913

[9 rows x 2 columns]

In [35]:
melted = pd.melt(s4p, id_vars=['Date', 'Symbol'])
melted.tail()

           Date Symbol   variable   value
2983 2012-12-26   MSFT  Adj Close  24.357
2984 2012-12-27   AAPL  Adj Close  68.331
2985 2012-12-27   MSFT  Adj Close  24.448
2986 2012-12-28   MSFT  Adj Close  24.076
2987 2012-12-28   AAPL  Adj Close  67.605

In [36]:
melted[(melted.Date=='2012-01-03') & (melted.Symbol=='MSFT')]

           Date Symbol   variable      value
0    2012-01-03   MSFT       Open  2.655e+01
498  2012-01-03   MSFT       High  2.696e+01
996  2012-01-03   MSFT        Low  2.639e+01
1494 2012-01-03   MSFT      Close  2.677e+01
1992 2012-01-03   MSFT     Volume  6.473e+07
2490 2012-01-03   MSFT  Adj Close  2.361e+01

In [39]:
s4g = combined[['Symbol', 'Adj Close']].reset_index()
s4g.insert(1, 'Year', pd.DatetimeIndex(s4g['Date']).year)
s4g.insert(2, 'Month', pd.DatetimeIndex(s4g['Date']).month)
s4g[:5]

        Date  Year  Month Symbol  Adj Close
0 2012-01-03  2012      1   MSFT     23.608
1 2012-01-03  2012      1   AAPL     54.076
2 2012-01-04  2012      1   MSFT     24.164
3 2012-01-04  2012      1   AAPL     54.366
4 2012-01-05  2012      1   MSFT     24.410

In [41]:
grouped = s4g.groupby('Symbol')
type(grouped.groups)

dict

In [45]:
def print_groups(groupobject):
    for name, group in groupobject:
        print(name)
        print(group.head())

In [46]:
print_groups(grouped)

AAPL
        Date  Year  Month Symbol  Adj Close
1 2012-01-03  2012      1   AAPL     54.076
3 2012-01-04  2012      1   AAPL     54.366
5 2012-01-05  2012      1   AAPL     54.970
7 2012-01-06  2012      1   AAPL     55.545
9 2012-01-09  2012      1   AAPL     55.457
MSFT
        Date  Year  Month Symbol  Adj Close
0 2012-01-03  2012      1   MSFT     23.608
2 2012-01-04  2012      1   MSFT     24.164
4 2012-01-05  2012      1   MSFT     24.410
6 2012-01-06  2012      1   MSFT     24.790
8 2012-01-09  2012      1   MSFT     24.463

In [47]:
grouped.size()

Symbol
AAPL    249
MSFT    249
dtype: int64

In [48]:
grouped.get_group('MSFT')

          Date  Year  Month Symbol  Adj Close
0   2012-01-03  2012      1   MSFT     23.608
2   2012-01-04  2012      1   MSFT     24.164
4   2012-01-05  2012      1   MSFT     24.410
6   2012-01-06  2012      1   MSFT     24.790
..         ...   ...    ...    ...        ...
491 2012-12-24  2012     12   MSFT     24.539
493 2012-12-26  2012     12   MSFT     24.357
495 2012-12-27  2012     12   MSFT     24.448
496 2012-12-28  2012     12   MSFT     24.076

[249 rows x 5 columns]