In [52]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 8)
pd.set_option('precision', 3)

In [53]:
import pandas.io.data as web
start = datetime.datetime(2012, 1, 1)
end = datetime.datetime(2012, 12, 30)

msft = web.DataReader("MSFT", 'yahoo', start, end)
aapl = web.DataReader("AAPL", 'yahoo', start, end)

In [54]:
aapl[:3]

              Open    High     Low   Close    Volume  Adj Close
Date
2012-01-03  409.40  412.50  409.00  411.23  75555200     54.076
2012-01-04  410.00  414.68  409.28  413.44  65005500     54.366
2012-01-05  414.95  418.55  412.67  418.03  67817400     54.970

In [55]:
msft[:3]

             Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03  26.55  26.96  26.39  26.77  64731500     23.608
2012-01-04  26.82  27.47  26.78  27.40  80516100     24.164
2012-01-05  27.38  27.73  27.29  27.68  56081400     24.410

In [56]:
msftA1 = msft['2012-01'][['Adj Close']]
msftA2 = msft['2012-02'][['Adj Close']]

In [57]:
msftA2[:3]

            Adj Close
Date
2012-02-01     26.359
2012-02-02     26.412
2012-02-03     26.668

In [58]:
pd.concat([msftA1.head(3), msftA2.head(3)])

            Adj Close
Date
2012-01-03     23.608
2012-01-04     24.164
2012-01-05     24.410
2012-02-01     26.359
2012-02-02     26.412
2012-02-03     26.668

In [59]:
aaplA1 = aapl['2012-01'][['Adj Close']]
withDups = pd.concat([msftA1[:3], aaplA1[:3]])
withDups

            Adj Close
Date
2012-01-03     23.608
2012-01-04     24.164
2012-01-05     24.410
2012-01-03     54.076
2012-01-04     54.366
2012-01-05     54.970

In [60]:
withDups.ix['2012-01-03']

            Adj Close
Date
2012-01-03     23.608
2012-01-03     54.076

In [61]:
closes = pd.concat([msftA1[:3], aaplA1[:3]], keys=['MSFT', 'AAPL'])
closes

                 Adj Close
     Date
MSFT 2012-01-03     23.608
     2012-01-04     24.164
     2012-01-05     24.410
AAPL 2012-01-03     54.076
     2012-01-04     54.366
     2012-01-05     54.970

In [62]:
closes.ix['MSFT'][:3]

            Adj Close
Date
2012-01-03     23.608
2012-01-04     24.164
2012-01-05     24.410

In [63]:
msftAV = msft[['Adj Close', 'Volume']]
aaplAV = aapl[['Adj Close', 'Volume']]
pd.concat([msftAV, aaplAV])

            Adj Close     Volume
Date
2012-01-03     23.608   64731500
2012-01-04     24.164   80516100
2012-01-05     24.410   56081400
2012-01-06     24.790   99455500
...               ...        ...
2012-12-24     69.009   43938300
2012-12-26     68.057   75609100
2012-12-27     68.331  113780100
2012-12-28     67.605   88569600

[498 rows x 2 columns]

In [64]:
aaplA = aapl[['Adj Close']]
pd.concat([msftAV, aaplA])

            Adj Close     Volume
Date
2012-01-03     23.608  6.473e+07
2012-01-04     24.164  8.052e+07
2012-01-05     24.410  5.608e+07
2012-01-06     24.790  9.946e+07
...               ...        ...
2012-12-24     69.009        NaN
2012-12-26     68.057        NaN
2012-12-27     68.331        NaN
2012-12-28     67.605        NaN

[498 rows x 2 columns]

In [65]:
pd.concat([msftAV, aaplA], join='inner')

            Adj Close
Date
2012-01-03     23.608
2012-01-04     24.164
2012-01-05     24.410
2012-01-06     24.790
...               ...
2012-12-24     69.009
2012-12-26     68.057
2012-12-27     68.331
2012-12-28     67.605

[498 rows x 1 columns]

In [66]:
msftA = msft[['Adj Close']]
closes = pd.concat([msftA, aaplA], axis=1)
closes[:3]

            Adj Close  Adj Close
Date
2012-01-03     23.608     54.076
2012-01-04     24.164     54.366
2012-01-05     24.410     54.970

In [67]:
pd.concat([msftAV[:5], aaplAV[:3]],axis=1,join='inner', keys=['MSFT', 'AAPL'])

                MSFT                AAPL
           Adj Close    Volume Adj Close    Volume
Date
2012-01-03    23.608  64731500    54.076  75555200
2012-01-04    24.164  80516100    54.366  65005500
2012-01-05    24.410  56081400    54.970  67817400

In [68]:
pd.concat([msftA[:3], aaplA[:3]], ignore_index=True)

   Adj Close
0     23.608
1     24.164
2     24.410
3     54.076
4     54.366
5     54.970

In [69]:
msftAR = msftA.reset_index()
msftVR = msft[['Volume']].reset_index()
msftAR[:3]

        Date  Adj Close
0 2012-01-03     23.608
1 2012-01-04     24.164
2 2012-01-05     24.410

In [70]:
msftVR[:3]

        Date    Volume
0 2012-01-03  64731500
1 2012-01-04  80516100
2 2012-01-05  56081400

In [71]:
msftCVR = pd.merge(msftAR, msftVR)
msftCVR[:5]

        Date  Adj Close    Volume
0 2012-01-03     23.608  64731500
1 2012-01-04     24.164  80516100
2 2012-01-05     24.410  56081400
3 2012-01-06     24.790  99455500
4 2012-01-09     24.463  59706800

In [72]:
msftAR0_5 = msftAR[0:5]
msftAR0_5

        Date  Adj Close
0 2012-01-03     23.608
1 2012-01-04     24.164
2 2012-01-05     24.410
3 2012-01-06     24.790
4 2012-01-09     24.463

In [73]:
msftVR2_4 = msftVR[2:4]
msftVR2_4

        Date    Volume
2 2012-01-05  56081400
3 2012-01-06  99455500

In [74]:
pd.merge(msftAR0_5, msftVR2_4)

        Date  Adj Close    Volume
0 2012-01-05      24.41  56081400
1 2012-01-06      24.79  99455500

In [75]:
pd.merge(msftAR0_5, msftVR2_4, how='outer')

        Date  Adj Close     Volume
0 2012-01-03     23.608        NaN
1 2012-01-04     24.164        NaN
2 2012-01-05     24.410  5.608e+07
3 2012-01-06     24.790  9.946e+07
4 2012-01-09     24.463        NaN

In [76]:
msft.insert(0, 'Symbol', 'MSFT')
aapl.insert(0, 'Symbol', 'AAPL')
combined = pd.concat([msft, aapl]).sort_index()
s4p = combined.reset_index()
s4p[:5]

        Date Symbol    Open    High     Low   Close    Volume  Adj Close
0 2012-01-03   MSFT   26.55   26.96   26.39   26.77  64731500     23.608
1 2012-01-03   AAPL  409.40  412.50  409.00  411.23  75555200     54.076
2 2012-01-04   MSFT   26.82   27.47   26.78   27.40  80516100     24.164
3 2012-01-04   AAPL  410.00  414.68  409.28  413.44  65005500     54.366
4 2012-01-05   MSFT   27.38   27.73   27.29   27.68  56081400     24.410